@charset "UTF-*";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddf9eb;
    height: 100%;
}

header h1 {
    padding: 10px;
    text-align: center;
    background-color: #38A169;
    color: white;
}

#burger {
    display: block;
    background-color: #22543D;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

#burger:hover {
    background-color: #ddf9eb;
    color: #22543D;
}

#items {
    display: none;
}

#items.active {
    display: block;
}

menu {
    background-color: #2F855A;
}

menu ul {
    list-style: none;
}

menu a {
    display: block;
    padding: 10px;
    margin: 2px 0;
    background-color: #276e4a;
    color: #ddf9eb;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

menu a:hover {
    background-color: #C6F6D5;
    color: #22543D;
}

article {
    background-color: white;
    max-width: 90vw;
    margin: 15px auto;
    padding: 15px;
    border-radius: 15px;
}

article h2 {
    margin: 10px 0;
    color: #276e4a;
}

article p {
    margin: 10px 0;
    text-indent: 10px;
    text-align: justify;
    line-height: 1.6;
}