@charset "UTF-8";

/* Estilo para imprimir*/

* {
    font-family: 'Courier New', Courier, monospace;
}



header>h1 {
    display: flex;
    justify-content: center;
}

header menu {
    display: none;
}

main {
    display: block;
    margin: auto;
    width: 600px;
    margin-top: 20px;
}

main p {
    margin-top: 20px;
    text-align: justify;
}

article::after {
    content: "Este arquivo foi impresso no site www.éusguri.com";
}